/*
PRO2
case: Alices Restaurant - touchscreeen f.eks. til iPad Air i str. 820x1180
*/
/* Adobe fonts */
@import url("https://use.typekit.net/vzd5ibg.css");
/* font-family: 'filicudi-solid', sans-serif; font-weight: 400; font-style: normal; */
@import url("https://use.typekit.net/vzd5ibg.css");
/* font-family: 'interface', sans-serif; font-weight: 700; font-style: normal; */
@import url("https://use.typekit.net/vzd5ibg.css");
/* font-family: 'myriad-pro', sans-serif; font-weight: 400; font-style: normal; */
@import url("https://use.typekit.net/ewx8vxc.css");
/* font-family: 'gautreaux', sans-serif; font-weight: 700; font-style: normal; */
/* library - star-rating.js */
@import 'star-rating';

/* Variabler*/
:root {
  /* farver */
  --white: #F2F2F2;
  --yellow: #f8d5a3;
  --orange: #D9843B;
  --darkorange: #BF5630;
  --brown: #C39E83;
  --grey: #1B2226;
  --black: #0C0D12;
  /* whitespace */
  --whitespace: .5rem;
  /* fonte */
  --overskrift1: 'filicudi-solid', sans-serif;
  /* overskrift 1 */
  --overskrift2: 'interface', sans-serif;
  /* overskrift 2 */
  --brødtekst: 'myriad-pro', sans-serif;
  /* brødtekst */
  --citat: 'gautreaux', sans-serif;
  /* library - star-rating.js */
  --gl-star-size: 50px;
  --gl-tooltip-font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* max-width: 820px;
  max-height: 1180px; */
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* baggrund */
body {
  background-size: 100% auto;
  background-color: var(--white);
}

/* Typography */
h1, h3, h4 {
  font-family: var(--overskrift1);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
  color: var(--black);
}

h2 {
  font-family: var(--overskrift2);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
  color: var(--black);
}

p {
  font-family: var(--brødtekst);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
  color: var(--black);
}

/* Billeder */
img {
  width: 100%;
}

/* Navbar */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--orange);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.nav-vendTilbage {
  font-family: var(--overskrift2);
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--black);
  margin-right: 40px;
}

/* --- Selvstudiedag 1 d. 09/03 - bestillingspanel --- */
#bestillingspanel {
  display: flex;
}

#bestillingspanel article {
  margin-bottom: 2em;
}

/* bestillings menuen */
#bestillingsMenu {
  width: 66%;
}

#bestillingsMenu h1 {
  text-align: center;
}

#bestillingspanel img,
#bestillingspanel h2,
#bestillingspanel p,
#bestillingsMenu h1 {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#bestillingspanel h2 {
  margin-bottom: 1em;
}

.order p {
  text-align: right;
  margin: 1em;
}

#hovedretter,
#foretter,
#desserter {
  font-family: var(--citat);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
  color: var(--black);
  text-align: center;
}

/* alle besillinger */
#alleBestillinger {
  position: fixed;
  background-color: var(--yellow);
  text-align: center;
  width: 34%;
  height: 1180px;
  /* Højden afhænger af hvor stor skærmen endeligt vil være */
  margin-right: 0;
  margin-left: 66%;
  padding: 1.5em;
}

/* betal knap */
#betal {
  color: var(--white);
  background-color: var(--orange);
  text-align: center;
  font-size: 1.5em;
  font-family: var(--overskrift1);
  padding: 14px 50px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 5px var(--brown);
  border-radius: 60px;
  border: none;
}

/* penge i alt */
#ialt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3em;
  text-align: center;
  margin: 1em;
  margin-top: 0.1em;
}

#pengeIalt h4 {
  margin-top: 1.5em;
}

/* kvittering */
#kvittering {
  text-align: center;
  font-family: var(--brødtekst);
  color: var(--black);
}

#kvittering h1 {
  text-align: center;
  font-family: var(--overskrift1);
  color: var(--black);
  margin-top: 2.5em;
  font-size: 2rem;
}

#kvittering h3 {
  text-align: center;
  margin-top: 2em;
  font-family: var(--overskrift2);
  color: var(--black);
  font-size: 1.5rem;
}

#visPenge {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 0.3em;
}

/* baggrund */
.bestillingspanelKvittering {
  background-color: var(--yellow);
}

/* btn - Tilbage til startskærm */
#VendTilStart {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.btnOrange {
  color: var(--white);
  background-color: var(--orange);
  text-align: center;
  font-size: 1.5em;
  font-family: var(--overskrift1);
  padding: 14px 50px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 5px var(--brown);
  border-radius: 60px;
  border: none;
  margin: 4em;
}

/* --- Library - Selvstudiedag 2 d. 11/03 --- */
.section {
  text-align: center;
}

/* --- weather - Selvstudiedag 2 d. 11/03 --- */
#vejretBoks {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

hr.line {
  border: 1px solid;
  border-color: var(--grey);
  margin-top: 2em;
}

/* vejret position/layout */
#vejretLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  align-items: flex-end;
}

#vejretInfo {
  text-align: left;
}

#vejrIkon {
  width: 100%;
  height: auto;
}

#pil {
  position: relative;
  width: 10%;
  height: auto;
}

#vind {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}

/* font/typografi */
#sectionTo h3 {
  font-size: 2rem;
  color: var(--grey);
  font-family: var(--overskrift2);
}

#sectionTo p {
  font-size: 1.5rem;
}

#stepEt h1 {
  font-size: 3rem;
}

#stepEt h2 {
  font-size: 2.5rem;
  color: var(--yellow);
  font-family: var(--overskrift2);
  margin-bottom: 1em;
}

#stepEt p {
  font-size: 1.7rem;
}

/* billede */
#stepEt img {
  margin-top: 2em;
}

/* btn - book bord */
.btnSort {
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  font-size: 1.5em;
  font-family: var(--overskrift1);
  padding: 14px 50px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 5px var(--brown);
  border-radius: 60px;
  border: none;
  margin: 4em;
}

/* --- Mapbox på forside - Selvstudiedag 3 d. 15/03 ---- */
#map {
  width: 70%;
  height: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

#marker {
  background-image: url('https://files.guidedanmark.org/files/484/260036_Boef-restaurant-koed-aarhus.jpg');
  background-color: black;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

/* Forside, section 1 */
.velkommen {
  margin-bottom: 2em;
  font-size: 2.5rem;
}

.velkommen h1 {
  color: var(--orange);
  margin-bottom: 0.5em;
}

#kortBeskrivelse {
  margin-bottom: 6em;
  font-size: 1.2rem;
  color: var(--grey);
}

/* step 2 */
hr.lineTo {
  border: 1px solid;
  border-color: var(--grey);
  margin-top: 2em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* --- anmeldelse - Selvstudiedag 4 d. 16/03 ---- */
#stjerner {
  display: flex;
  justify-content: center;
  margin-right: 23%;
  margin-top: 1.5em;
}
